// Header
div.header-container
  div.header-container__wrapper
    div.container
      div.row
        div.col-md-12
          header.main-header
            nav.main-header__nav
              h1 Main Header
